alembic
amqp
annotated-types
anyio
asyncpg
bcrypt
beautifulsoup4
billiard
cachetools
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cmdstanpy
colorama
contourpy
coverage
cryptography
curl_cffi
cycler
dateparser
Deprecated
dnspython
ecdsa
email-validator
fastapi
transformers
torch
torchvision
torchaudio
fonttools
frozendict
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
googleapis-common-protos
GoogleNews
greenlet
grpcio
grpcio-status
h11
holidays
httpcore
httplib2
httptools
httpx
idna
importlib_resources
iniconfig
kiwisolver
kombu
limits
Mako
MarkupSafe
matplotlib
multitasking
numpy==1.26.4
packaging
pandas
passlib
peewee
pgvector
pillow
platformdirs
pluggy
prompt_toolkit
prophet
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
PyJWT
pyparsing
pytest
pytest-asyncio
pytest-cov
python-dateutil
python-dotenv
python-jose
python-multipart
pytz
PyYAML
redis
regex
requests
rsa
six
slowapi
sniffio
soupsieve
SQLAlchemy
stanio
starlette
tqdm
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
uvicorn
vine
watchfiles
wcwidth
websockets
wrapt
yfinance
google-cloud-vision=3.11.0